<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Breakout Room 1</title>
</head>
<body>
    <h2> Hello <%= userExists.name %></h2>
    <h2> Please Input Your new Password</h2>
        <form action="/reset-password?token=<%= token %>" method="POST">
            
        <div>
            <label>Password </label>
            <input type="text" name="password" placeholder="password" />
        </div>
        <br />
        <input type="submit" />
    </form>
</body>
</html>
